@import "bourbon"
@import "_vars.sass"

+font-face("RobotoRegular", "../fonts/RobotoRegular/RobotoRegular", $file-formats: eot woff ttf)
+font-face("OpenSansBold", "../fonts/OpenSansBold/OpenSansBold", $file-formats: eot woff ttf)

+font-face("CiscoExtralight", "../fonts/ciscosansttextralight-webfont/ciscosansttextralight-webfont", $file-formats: eot woff ttf)
+font-face("CiscoLight", "../fonts/ciscosansttlight-webfont/ciscosansttlight-webfont", $file-formats: eot woff ttf)
+font-face("CiscoRegular", "../fonts/ciscosansttregular-webfont/ciscosansttregular-webfont", $file-formats: eot woff ttf)
+font-face("CiscoThin", "../fonts/ciscosansttthin-webfont/ciscosansttthin-webfont", $file-formats: eot woff ttf)

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.6
	font-family: "RobotoRegular", sans-serif
	overflow-x: hidden

.hidden
	display: none
.clrp
	padding: 0
.blue
	color: $button
.mw8
	max-width: 810px
	margin: 30px auto 0

a
	&:hover
		text-decoration: none
		color: $blak

h1,h2,h3,h4,h5,h6
	font-family: "OpenSansBold",sans-serif

h1,h2,h3,h4,h5,h6,ul,p
	margin: 0
	padding: 0
	list-style-type: none

input,textarea,button
	outline: none
	border: none
.mt3
	margin-top: 35px
.btn
	color: $white
	transition: all 0.3s
	display: inline-block
	padding: 8px 17px
	background-color: $button
	border-radius: 4px
	border: 1px solid $button
	&:hover		
		background-color: $white
		color: $button


header
	position: relative
	a.logo
		display: block
		line-height: 80px
	nav
		background-color: $grey
		min-height: 83px
		padding: 0 70px
		ul
			text-align: right
			li
				display: inline-block
				&:last-child
					a
						background-color: $button
						color: $white
				a
					color: $greyBold
					display: block
					padding: 0px 17px 4px
					font-size: 15px
					margin-top: 38px
					border-radius: 19px
					transition: all 0.3s
					&:hover	
						background-color: $button
						color: $white
	.block-lang
		position: absolute
		top: -8px
		right: 85px
		height: 25px		
		div
			display: inline-block
			vertical-align: top
			font-size: 12px
			position: relative
			line-height: 28px
			a				
				color: $greyBold
		.lang-switch	
			margin-left: 20px
			.lang
				cursor: pointer
				padding-right: 15px
			&:before
				position: absolute
				content: '\25be'
				width: 15px
				height: 20px
				right: 0
			&.open:before
				content: '\25b4'
			.lang-select
				display: none
				text-align: right
				padding-right: 15px
				a
					background-color: $grey
	.top-image
		min-height: 505px
		position: relative
		background-repeat: no-repeat
		background-position: top center
		background-size: cover
		overflow: hidden
		>img
			position: absolute		
			min-height: 100%
			bottom: 0 
			right: 0
		.descr
			min-height: 505px
			position: relative
			background: -moz-linear-gradient(left,  $main 33%, rgba(255,255,255,0) 80%)
			background: -webkit-linear-gradient(left,  $main 33%,rgba(255,255,255,0) 80%)
			background: linear-gradient(to right,  $main 33%,rgba(255,255,255,0) 80%)
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6bbba7', endColorstr='#00ffffff',GradientType=1 )
			.text-block
				position: absolute
				width: 30%
				min-width: 300px
				top: 50%
				transform: translateY(-50%)
				-webkit-transform: translateY(-50%)
				-moz-transform: translateY(-50%)
				left: 85px
				color: $white
				h1
					font-size: 50px
					font-family: "RobotoRegular", sans-serif
					font-weight: 100
					line-height: 45px
					margin-top: -25px;
					margin-bottom: 18px;
				h3
					font-size: 25px
					font-family: "RobotoRegular", sans-serif
					font-weight: 100
					line-height: 35px
				p
					margin-bottom: 30px
					margin-top: 12px
					line-height: 22px
				.btn
					margin-left: 15px




